

@import "https://fonts.googleapis.com/css2?family=Pacifico";

@font-face {
    font-family: Pacifico;
    src: url(../edu.au.cpsc.launcher.style/fonts/Pacifico-Regular.ttf);
}

#airport-button {
    -fx-font-family: "Pacifico";
    -fx-font-size: 14pt;
}

#seat-reservation-button {
    -fx-font-family: "Pacifico";
    -fx-font-size: 14pt;
}

#flight-schedule-button {
    -fx-font-family: "Pacifico";
    -fx-font-size: 14pt;
}

#aircraft-button {
    -fx-font-family: "Pacifico";
    -fx-font-size: 14pt;
}