/*
add style information to this file to accomplish visual changes from assignment file
***DO NOT:
- use Node.setStyle()
- call Node methods that impact the appearance of controls beyond their layout
- modify FXML files that impact appearance of layouts or controls beyond basic layout (border,background,color,font, etc.
- pretty much keep the modifications in this file (Main.css)**


- Provides consistent style in a single place
- can be used across multiple programs
 */

/*
each ID selector specifies the receiving operation
 */

#main-background {
    -fx-background-color: #dad7cd;
}

#rectangle-left-small {
    -fx-fill: #272838;
}

#rectangle-middle-small {
    -fx-fill: #ff6b6b;
}

#rectangle-right-small {
    -fx-fill: #7e7f9a;
}

#rectangle-big {
    -fx-stroke-width: 5px;
    -fx-stroke: #469B4B;
    -fx-fill: transparent;
}

#circle-in-rectangle {
    -fx-fill: #7e7f9a;
}

#button-row {
    -fx-alignment: center-right;
}

#google-link {
    -fx-text-fill: #272838;
}

#duck-link {
    -fx-text-fill: #ff6b6b;
    -fx-underline: true;
}

#bing-link {
    -fx-text-fill: #272838;
}

#combo-box .arrow {
    -fx-background-color: #FFFFFF;
}

#combo-box .arrow-button {
    -fx-background-color: #ff6b6b;
}

#check-box .box {
    -fx-mark-color: #7e7f9a;
}